* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #242333;
  color: #ffffff;
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pick-movie label {
  font-size: 20px;
  color: gold;
  font-weight: bold;
}

#select-movie {
  background-color: #fff;
  padding: 5px 10px 5px 10px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-left: 10px;
  //   -moz-appearance: none;
  //   -webkit-appearance: none;
  //   appearance: none;
}

.info {
  margin: 50px 0;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.info ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 0;
}

.info li {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.info li p {
  margin: 0;
  margin-left: 5px;
  color: #777777;
}

.container-seats-screen {
  perspective: 1000px; // 3D
  margin-bottom: 30px;
}

.screen {
  width: 100%;
  height: 100px;
  background-color: #fff;
  margin-bottom: 10px;
  transform: rotateX(-45deg); // perspective هي مرتبطه مع
  box-shadow: -1px 6px 10px rgba(255, 255, 255, 70%);
}

.container-seats {
  display: flex;
  justify-content: center;
}

.seat {
  background-color: #444451;
  margin: 3px 3px;
  width: 20px;
  height: 17px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat.selected {
  background-color: #6feaf6;
}

.seat.Occupied {
  background-color: #fff;
}

.seat.pink {
  background-color: palevioletred;
}

.seat:not(.Occupied, .pink):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.info .seat:hover {
  cursor: default;
  transform: scale(1);
}

.text span {
  color: #6feaf6;
}
